.root {
    -fx-background-color: black;
}

.control-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-style: none;
}

.selection-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-max-width: 600;
    -fx-min-width: 100;
}

#vboxContainer {
    -fx-alignment: center;
    -fx-position-shape: absolute;
    -fx-top: 50%;
    -fx-left: 50%;
    -fx-padding: 10;
}

.media-background {
    -fx-alignment: center;

}

/*
-fx-position-shape: absolute;
*/